<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.1//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">  

<configuration>
	 
	<!-- <typeAliases>
		<typeAlias alias="user" type="com.fcm.object.User" />
    </typeAliases> -->

	<mappers>
     	<mapper resource="com/nns/watcher/common/common.xml"/>
     	<mapper resource="com/nns/watcher/dashboard/event.xml"/>   
        <mapper resource="com/nns/watcher/equip/template.xml"/>
        <mapper resource="com/nns/watcher/history/user.xml"/>
        <mapper resource="com/nns/watcher/manage/channel.xml"/>
        <mapper resource="com/nns/watcher/monitor/article.xml"/>        
        <mapper resource="com/nns/watcher/scheduler/magazine.xml"/>        
    </mappers>

</configuration>