@charset "utf-8";
/*=========================================================
사이트 메인 css정의 / kipilco 
===========================================================*/

/*전체영역*/
#Wrapper{width:100%; position:relative; z-index:10; float:left; min-width:1250px; }

/*탑영역*/
#topArea{width:100%; height:93px; position:relative; left:0px; top:0px; z-index:10; background:url(../images/manager/top_bg.jpg) repeat-x left top;}
#topArea .boxT{width:100%;}
.slogoB{padding-left:30px; padding-top:6px;}
.slogoB h1{padding:0px; margin:0px;}
.logoutA{float:right; position:relative; top:-16px; padding-right:25px; background:url(../images/botton/arrow1.jpg) no-repeat 0px 4px; padding-left:15px; font-weight:bold; color:#fff; margin:0px;}
.logoutA img{padding:0 3px 0 2px;}
.logoutA .ico_adm{background:url(../../images/botton/arrow1.gif) no-repeat 0px 3px; padding-left:16px;}

/*콘텐츠영역*/
#contentsArea{width:100%; position:relative; left:0px; top:0px; z-index:1; background:url(../images/bg/content_bg1.jpg) repeat-y 0px top; padding:20px 0 30px 0px; float:left;}
#contentsArea .boxC{width:100%; position:relative;}

#contentsArea .boxC .leftNv_Area{width:170px; float:left; position:relative; z-index:30;}
#contentsArea .boxC .contentsbox_Area{width:100%; padding:0 0 0 0px;}
#contentsArea .boxC .contentsbox_Area .c_start{padding:0 0 0 230px; min-height:500px;}

/*하단영역*/
#footerArea{width:100%; height:31px; position:relative; left:0px; top:0px; z-index:10; clear:both;  background:#ececec;}
#footerArea .boxF{padding:0 0 0 30px; position:relative; vertical-align:middle; line-height:31px; color:#808080;}
