/*마스터 CSS*/

/* Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0}
body,h1,h2,h3,h4,h5,h6,input,textarea,select,button{font-family:'돋움',Dotum,Helvetica,AppleGothic,sans-serif;font-size:12px;line-height:1.5;color:#333}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
img,fieldset,iframe{border:0 none}
img{vertical-align:middle}
dl,ul,ol,menu,li{list-style:none}
input,select,textarea,button{vertical-align:middle}
i,em,address{font-style:normal}
label,button{cursor:pointer}
button{margin:0;padding:0;border:0 none}
hr{display:none}
table{border-collapse:collapse; border-spacing:0}
table,table th,table td{border:0 none;}
caption,legend{display:none}
a {color:#262626;text-decoration:none}
a:hover {color:#4559e9;text-decoration:underline}
a:active {background-color:transparent}
address,caption,cite,code,dfn,i,em,var {font-style:normal;font-weight:normal}
header,main,aside,article,footer {display:block}


* {margin:0 auto; padding:0:}
body{ 
	font: 0.8em/1.8em "Dotum", "Gulim", "tahoma";
	color: #000;
	text-align: left;
	line-height: 120%;
	text-decoration:none;
	border-collapse: collapse;
	margin:0px;
	scrollbar-arrow-color: #000000;
	scrollbar-highlight-color: #ffffff;
	scrollbar-shadow-color: #B4B4B4;
	scrollbar-darkshadow-color: #EEEEEE;
	scrollbar-3dlight-color: #EEEEEE;
	scrollbar-track-color: #FAFAFA;
	scrollbar-face-color: #EEEEEE;
	 background-color:#f6f6f6
 }
/* link */
a:link{color:#555; text-decoration:none;}
a:visited{color:#555; text-decoration:none;}
a:active{color:#006fec; text-decoration:none;}
a:hover{color:#006fec; text-decoration:underline;}
/* basic tag */
hr{display: none; }
p{margin: 0; padding: 0; }
ol, ul, dt{ margin: 0; padding: 0; }
ul{list-style-type: none; }
form{margin: 0; padding: 0; border: none; }
caption{display: none;} 
legend{display: none;}
img{border: none; }
img.left{float: left; }
img.right{float: right; }
fieldset{border: none; padding: 0; margin: 0; }
select{font-size: 100%; font-family:"Gulim", "Dotum", "Lucida Grande", Helvetica, Arial,Verdana, AppleGothic, sans-serif;}
input, textarea{font-size:100%; font-family:"Gulim", "Dotum", "Lucida Grande", Helvetica, Arial,Verdana, AppleGothic, sans-serif;}
caption, cite, code, dfn, var{font-style: normal;font-weight: normal; }

.alignRight{text-align:right;}
.alignCenter{text-align:center;}

.hide{display: none;}

table, thead, tbody, th, td, tr {
	color:#585858;
	font-size:12px;
	margin:0 auto;
	padding:0;
	border:none;
	}
table, pre {table-layout:fixed; border-collapse :collapse;}

