@charset "utf-8";
/*=========================================================
����Ʈ ���� css���� / kipilco 
===========================================================*/
@import url(nv.css); 
@import url(main.css); 
@import url(dtree.css); 
@import url(contents.css);
@import url(table.css);
@import url(popup.css);

/* ������� Light */
@font-face{font-family:NGL;src:url(NanumGothicLight.eot);src:local(��),url(NanumGothicLight.woff) format('woff')}
.NGL{font-family:'������� Light', NGL, sans-serif}
/* ������� */
@font-face{font-family:NG;src:url(NanumGothic.eot);src:local(��),url(NanumGothic.woff) format('woff')}
.NG{font-family:'�������', NG, sans-serif}
/* ������� Bold */
@font-face{font-family:NGB;src:url(NanumGothicBold.eot);src:local(��),url(NanumGothicBold.woff) format('woff')}
.NGB{font-family:'������� Bold', NGB, sans-serif}
/* ������� ExtraBold */
@font-face{font-family:NGEB;src:url(NanumGothicExtraBold.eot);src:local(��),url(NanumGothicExtraBold.woff) format('woff')}
.NGEB{font-family:'������� ExtraBold', NGEB, sans-serif}
/* �������� */
@font-face{font-family:NM;src:url(NanumMyeongjo.eot);src:local(��),url(NanumMyeongjo.woff) format('woff')}
.NM{font-family:'��������', NM, serif}
/* �������� Bold */
@font-face{font-family:NMB;src:url(NanumMyeongjoBold.eot);src:local(��),url(NanumMyeongjoBold.woff) format('woff')}
.NMB{font-family:'�������� Bold', NMB, serif}
/* �������� ExtraBold */
@font-face{font-family:NMEB;src:url(NanumMyeongjoExtraBold.eot);src:local(��),url(NanumMyeongjoExtraBold.woff) format('woff')}
.NMEB{font-family:'�������� ExtraBold', NMEB, serif}
/* ��������ڵ� */
@font-face{font-family:NGC;src:url(NanumGothicCoding.eot);src:local(��),url(NanumGothicCoding.woff) format('woff')}
.NGC{font-family:'��������ڵ�', NGC, Monospace}
/* ��������ڵ�-Bold */
@font-face{font-family:NGCB;src:url(NanumGothicCodingBold.eot);src:local(��),url(NanumGothicCodingBold.woff) format('woff')}
.NGCB{font-family:'��������ڵ�-Bold', NGCB, Monospace}

/*css����-s*/
html, body, div, dl, dt, dd, ul, ol, li, p {margin:0px; padding:0px; list-style:none;}

body{color:#757575; font-size:12px; font-family:'dotum';} 
img {border:0px; vertical-align:top;} 
img, select, input{ vertical-align:middle; font-size:inherit; font-family:inherit; line-height:inherit; }
input.img, input.radio, input.checkbox{padding:0px; margin:0px; height:auto; border:none; background:none; vertical-align:middle;}
em, i, address{font-style:normal; font-weight:normal;}
textarea{resize:none; border:1px solid #d0d0d0; background:#fff;}
/*a {text-decoration:none; color:inherit; font-family:'NBG'; background:none; padding:0px; margin:0px;}*/
a {text-decoration:none; color:inherit; background:none; padding:0px; margin:0px;}


/*hidden����-s*/
.hid{ position:absolute; visibility:hidden; width:0px; height:0px; top:0px; left:0px; overflow:hidden; font-size:0px; float:left; clear:both;} 
.hid_Btn{display:none;} 
