@charset "utf-8";

/*reset*/
/*html,body{width:100%; height:100%}*/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0; padding:0}
fieldset,img {border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {vertical-align:middle}
input::-ms-clear {display:none}
button {border:0 none; background-color:transparent; cursor:pointer}
body {background:#050611}
body,th,td,input,select,textarea,button {font:12px; line-height:1.5; font-family:'NotoS_R','굴림', "Dotum", "tahoma",'sans-serif'; color:#333} /* color값은 디자인가이드에 맞게사용 */
a {color:#333; text-decoration:none}
a:active, a:hover {text-decoration:none}
a:active {background-color:transparent}
address,caption,cite,code,dfn,em,var {font-style:normal; font-weight:normal}

table {border-collapse:collapse; border-spacing:0}
td,th {padding: 0;}
input, textarea {font-family:NotoS_R; -webkit-box-sizing:border-box;-moz-box-sizing:border-box; box-sizing:border-box}
input:-ms-clear {display:none}
input:-webkit-input-placeholde {color:#9a9a9a}
input:-moz-placeholder {color:#9a9a9a}
input:-ms-input-placeholder {color:#9a9a9a}
input[type=text]:disabled{background: #ddd; color:#333}


/* common */

.fl {float: left}
.fr {float: right}

.pdl5 {padding-left: 5px !important}
.pdl10 {padding-left: 10px !important}

.mgt30 {margin-top: 30px !important}

.mgr8 {margin-right: 8px !important}
.mgr10 {margin-right: 10px !important}
.mgr20 {margin-right: 20px !important}
.mgr29 {margin-right: 29px !important}
.mgr30 {margin-right: 30px !important}

.mgb9 {margin-bottom: 9px !important}
.mgb13 {margin-bottom: 13px !important}
.mgb21 {margin-bottom: 21px !important}
.mgb25 {margin-bottom: 25px !important}

.align_left {text-align: left !important}





