@charset "utf-8";
/* CSS Document */


body,p,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,fieldset,form,input{margin:0;padding:0;}
body{font-family:'돋움',Dotum,Helvetica,Sans-serif;font-size:12px;color:#585d61;}
dl,ul,ol{list-style:none}
input {color:#333;height:22px;border:1px solid #dbdbdb;padding-left:5px;}
input,img{vertical-align:middle}
img,fieldset{border:0}
button{overflow:hidden;margin:0;padding:0;border:0;cursor:pointer}

#login_wrap {width:740px;border:1px solid #d4d5d5;position:absolute; left:50%; margin-left:-400px;margin-top:200px;}
#login_wrap .login_title {height:99px;text-align:right;}
#login_wrap .login_left {float:left;width:330px;margin:20px -30px 20px 55px;}
#login_wrap .id {float:left;margin-top:50px;margin-left:30px;}
#login_wrap .id input{font-family:돋움,dotum;width:150px;*width:170px;height:25px;padding:0 3px 0 3px;font-size:12px;color:#000;border:1px solid #bebebe;}
#login_wrap .pw {float:left;margin-top:5px;margin-left:30px;}
#login_wrap .pw input{font-family:돋움,dotum;width:150px;*width:170px;height:25px;padding:0 3px 0 3px;font-size:12px;color:#000;border:1px solid #bebebe;}
#login_wrap .btn {float:left;border:1px solid #fff;margin-top:38px;margin-left:28px;}
#login_wrap .btn img {float:left;margin-left:582px;margin-top:-153px;border:0;}
#login_wrap .id_check {float:left;margin-top:38px;margin-left:-158px;}
#login_wrap .footer_login {text-align:right;}



#box {float:left;width:120px;height:75px;border:1px solid #737989;background:#f2f2f2;}
.tit {height:6px;background:url('../images/box_base.gif') repeat-x left top;text-align:right;padding:4px 10px;}
.tit_warn {height:6px;background:url('../images/box_warn.gif') repeat-x left top;text-align:right;padding:4px 10px;}
.pic {float:left;width:42px;height:62px;border:1px solid #bbbbbb;background:#fff;margin:-5px 0 0 3px;text-align:center;}
.box_graph {float:left;width:13px;font-size:11px;font-weight:bold;color:#000;margin:0px 0 0 3px;}
.graph {float:left;width:50px;height:16px;border:1px solid #bbb;background:#fff;padding:1px;margin:-5px 0 7px 1px;}
.txt {float:right;text-align:right;color:#000033;font-weight:bold;font-size:11px;margin:-23px 5px 0 0;}

